#mainIMG{
    width: 95%;
    position: absolute;
    top: 2.5vw;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2%;
    z-index: -1;
}

#logo{
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
}


/* navbar */
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    position: absolute;
    top: 7vw;
    left: 50%;
    transform: translate(-50%);
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    margin: 0 8% 0 8%;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.3vw;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    flex: 1;
  }
  
  .navbar-left {
    justify-content: flex-start;
  }
  
  .navbar-right {
    justify-content: flex-end;
  }
  
/* navbar */

/* Statistics */
  .statistics{

    position: absolute;
    top: 53vw;
    left: 50%;
    transform: translate(-50%);

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .statistics_box{
    width: 33.3333%;
    background-image: linear-gradient(to bottom right, #daeaff, #ffebd8);
    box-shadow: 1px 2px 15px #b3afaf;
    border-radius: 10%;
    margin: 2%;
    padding: 2.5%;
  }
  
  .statistics_heading{
    font-size: 2vw;
  }
  
  .statistics_numbers{
    font-size: 5vw;
    font-weight: bold;
  }
/* statistics   */

/* message */

  .message{
    position: absolute;
    top: 72vw;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    text-align: center;
  }

  #message_heading{
    font-size: 3vw;
    font-weight: bold;
  }

  #message_text{
    font-size: 2.2vw;
    text-align: justify;
    line-height: 4vw;
  }

/* message */

/* Owners */

  .owners{
    width: 90%;
    position: absolute;
    top: 105vw;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    text-align: center;
  }

  .owners img{
    width: 70%;
  }

  #name{
    display: list-item;
    list-style: none;
    font-weight: bold;
    font-size: 2.5vw;
  }

  #position{
    font-size: 2vw;
    text-align: justify;
    width: min-content;
  }