#mainIMG{
    width: 95%;
    position: absolute;
    top: 2.5vw;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1vw;
    z-index: -1;
}

#logo{
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
}


/* navbar */
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    position: absolute;
    top: 7vw;
    left: 50%;
    transform: translate(-50%);
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    margin: 0 8% 0 8%;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.3vw;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    flex: 1;
  }
  
  .navbar-left {
    justify-content: flex-start;
  }
  
  .navbar-right {
    justify-content: flex-end;
  }
  
/* navbar */

/* Statistics */
  #statistics{

    position: absolute;
    top: 53vw;
    left: 50%;
    transform: translate(-50%);

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .statistics_box{
    width: 33.3333%;
    background-image: linear-gradient(to bottom right, #daeaff, #ffebd8);
    box-shadow: 1px 2px 5px #b3afaf;
    border-radius: 2vw;
    margin: 2%;
    padding: 2.5%;
  }
  
  .statistics_heading{
    font-size: 2vw;
  }
  
  .statistics_numbers{
    font-size: 5vw;
    font-weight: bold;
  }
/* statistics   */

/* message */

  .message{
    position: absolute;
    top: 75vw;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    text-align: center;
  }

  #message_heading{
    font-size: 3vw;
    font-weight: bold;
  }

  #message_text{
    font-size: 2vw;
    text-align: justify;
    line-height: 3vw;
  }

/* message */

/* Owners */

  .owners{
    width: 90%;
    position: absolute;
    top: 101vw;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    text-align: center;
  }

  .owners img{
    width: 50%;
    border: 2vw solid rgb(235, 235, 235);
    box-shadow: 1px 2px 5px #b3afaf;
    border-radius: 3vw;
  }

  #name{
    display: list-item;
    list-style: none;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 1vw;
  }

  #position{
    font-size: 2vw;
    line-height: 2.5vw;
    margin-top: 0px;
  }

/* Owners */

/* Vision & Mission */

  .outerBox{
    width: 90%;
    position: absolute;
    top: 150vw;
    left: 50%;
    transform: translate(-50%);

    background-image: linear-gradient(to bottom right, #daeaff, #ffebd8);
    box-shadow: 1px 2px 5px #b3afaf;
    border-radius: 1vw;

    padding: 1vw 2vw 1vw 2vw;
  }

  #mission, #vision{
    display: flex;
    height: 50%;
    margin: 3vw;
  }

  .outerBox img{
    width: 30%;
    height: fit-content;
    box-shadow: 1px 2px 5px #b3afaf;
    border-radius: 2%;
  }

  #mission_text{
    width: 70%;
    padding-left:2vw;
    margin-top: -2vw;
  }

  #vision_text{
    width: 70%;
    padding-right:2vw;
    margin-top: -2vw;
  }

  .outerBox p{
    text-align: justify;
    font-size: 2vw;
    line-height: 3vw;
    margin-top: -2vw;
  } 

  .outerBox h2{
    font-size: 3vw;
    font-weight: bolder;
  }

  .outerBox h4{
    font-size: 2.5vw;
    margin-top: -2vw;
    font-weight: 500;
  }

/* Vision & Mission */

/* Services */

  #services{
    position: absolute;
    top: 235vw;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    padding: 4vw;
  }

  #services_heading{
    font-size: 4vw;
    text-decoration: underline;
  }
  
  #services_brief{
    font-size: 2vw;
    line-height: 3vw;
    text-align: justify;
  }

  .pro_plan_exe{
    position: absolute;
    top: 255vw;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    padding-top: 6vw;
    display: flex;

  }

  #project_planning{
    width: 40%;
    height: fit-content;
  }

  #project_Execution{
    width: 40%;
    height: fit-content;
    margin-left: 16vw;
  }
/* Services */